<!DOCTYPE html>
<br>
    <html lang="en">

    <head>

    <meta charset="utf-8">

    <title>Rotas Community</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="css/custom.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    </head>

    <body>

        
            <!-- Brand and toggle get grouped for better mobile display -->

            

       <div align="center">

            <div class="container-fluid">


                
                <div align="center">

            <div class="container-fluid">


                     
                <img alt="teste" src="                https://uploaddeimagens.com.br/images/000/436/076/original/Sem_t%C3%ADtulo.png?1422297023
" class="img-rounded" />
                <link href="/assets/custom.css.scss?body=1" media="screen" rel="stylesheet" />
                <br>
                <div align="center"> 
                <br>
                                
               <p align=”Justify”> A Rota transportes e Logística Ltda é uma empresa relativamente nova no mercado, cuja fundação foi em janeiro de 2007. Apesar  nova já tínhamos alguma experiência, pois os sócios administravam uma outra empresa do ramo de corretagem de grãos, cuja, uma das atividades  era o agenciamento de caminhões para o transporte dos grãos entre o produtor e o comprador. Essa atividade foi nos proporcionando um “expertise“ que nos permitiu investir em caminhões para o transporte desses grãos.</p>

<p align=”Justify”>No princípio tivemos as dificuldades inerentes aos massivos investimentos que são normais em uma empresa de transporte, devido ao alto valor dos equipamentos e também a falta de experiência no gerenciamento da frota, mas no decorrer dos anos fomos aprimorando os controles internos e ganhando experiência operacional que tem nos possibilitado crescer com segurança e permanentemente. Iniciamos com uma frota de 06 veículos e atualmente nossa frota é de 20 veículos, todos rastreados por satélite e dezenas de agregados. Nosso diferencial está nos princípios de qualidade na prestação de serviços, rigor nos controles internos para a manutenção dos custos a níveis baixos, gestão financeira rígida para depender o mínimo de recursos de terceiros, oficina própria para manutenção preventiva constante e administração operacional permanente com negociação de cargas de ida e de retorno para que a frota produza ao máximo e com o mínimo de desperdício.</p>

<p align=”Justify”>Acreditamos em uma expansão considerável no faturamento ano após ano, devido ao grau de especialização que vivemos e também a melhor condição econôm ica da empresa à medida que o retorno do investimento se realiza.</p>     <!-- COLOCAR AQUI O QUEM SOMOS DA EMPRESA -->
                <br>
                <br>


    </body>

    </html>