@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: Cantarell;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
   font-family: Cantarell;
   font-size: 13px;
   line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

#error_explanation {
    font-family: Cantarell;
  color: red;
      margin-top: 10px;
  ul {
    color: red;
  margin-top: 10px;  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
  ul li {
    font-family: Cantarell;
    font-size: 12px;
    list-style: square;
  }

