<% provide(:title, 'Rotas') %>
<h1>Todas as rotas</h1>

<%= will_paginate %>

<ul class="routes">
  <% @routes.each do |route| %>
    <li>
      <%= link_to route.origem, route %>
      
    </li>
  <% end %>
</ul>


