<footer class="footer">
  <small>
    <a href="http://cin.ufpe.br/~lmc3">Lobo Alfa Dinamite</a>
    | <a href="http://www.google.com/">Google</a>
  </small>
  <nav>
    <ul>
      Versão Alpha 1.0
    </ul>
  </nav>
</footer>