<footer class="footer">
  <small>
    <a href="http://cin.ufpe.br/~lmc3">Lobo Alfa Dinamite</a>
    | <a href="http://www.google.com/">Google</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", static_pages_quemsomos_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://cin.ufpe.br/~lmc3">News</a></li>
    </ul>
  </nav>
</footer>